body {
	background: #000000;
}

#topo {
	background: #111111;
	color: #eeeeee;
}

#lista-inteira {
	background: #333333 ;
}

#cor-modal-corpo {
	background: #241f31;
	color: #eeeeee;
}

#cor-modal-header {
	background: #141414;
	color: #eeeeee;
}

#cor-modal-footer {
	background: #141414;
	color: #eeeeee;
}